<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2021 HDSU inspired by a template of the Allan Lab. </p>
              
			<a href="{{ site.url }}{{ site.baseurl }}/impressum.html">Impressum and Privacy</a>
            

		   <p>  </p><p>
            		  
            
		</div>
		
		<div class="col-sm-4">
		  Contact:<br />
		  IPMB - 5th floor - Im Neuenheimer Feld 364<br />
		  69120 Heidelberg (Germany)<br />
            (<a href="https://maps.app.goo.gl/SQFfE8t3kDTvcoFs6">Maps</a>)
		</div>
		  
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
