<div class="navbar navbar-default navbar-fixed-top py-lg-5" role="navigation" style="height: 90px;">
  <div class="container-fluid">
    <div class="navbar-header text-center">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/" style="padding-top: 0;">
        <img src="{{ site.url }}{{ site.baseurl }}/images/logo_ipmb_noback.pdf" alt="logo" style="width: auto; height: 70px;" />
      </a>
    </div>
    <div class="collapse navbar-collapse text-center" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/research">Research</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/resources">Resources</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/teaching">Teaching</a></li>
      </ul>
    </div>
  </div>
</div>
